<ul id="attribute-options" style="display: none">
  <!-- attribute options for music -->
  
  <li class="music-attribute">
    <%= filter_more_search_options("mixTerm","Mix Term") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("genreIndex","Genre Index") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("artistTerm","Artist term") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("composerTerm","Composer") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("albumTerm","Album term") %>
  </li>

  <li class="music-attribute">
    <%= filter_more_search_options("ratingIndex","Rating index") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("songTerm","Song") %>
  </li>
  <li class="music-attribute">
    <%= filter_more_search_options("musicTrackTerm","Music Track") %>
  </li>

  <!-- attribute options for all -->
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("actorTerm","Actor") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("languageTerm","Language") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("allArtistTerm","All artist term") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("tvEpisodeTerm","Tv Episode") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("shortFilmTerm","Short Film") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("directorTerm","Director") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("releaseYearTerm","Release year") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("titleTerm","Title") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("featureFilmTerm","Feature film") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating index") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("keywordsTerm","Keywords") %>
  </li>

  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("descriptionTerm","Description") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("authorTerm","Author") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre index") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("mixTerm","Mix term") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("allTrackTerm","All Track term") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("artistTerm","Artist") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("composerTerm","Composer") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("tvSeasonTerm","Tv season term") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("producerTerm","Producer") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("ratingTerm","Rating") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("songTerm","Song") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("movieArtistTerm","Movie artist") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("showTerm","Show") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("movieTerm","Movie term") %>
  </li>
  <li class="all-attribute" style="display: none">
    <%= filter_more_search_options("albumTerm","Album term") %>
  </li>

  <!-- attribute options for movie -->
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("actorTerm","Actor") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("artistTerm","Artist term") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("shortFilmTerm","Short film") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("producerTerm","Producer") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("ratingTerm","Rating") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("directorTerm","Director") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("releaseYearTerm","Release year") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("featureFilmTerm","Feature film") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("movieArtistTerm","Movie artist") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("movieTerm","Movie term") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating index") %>
  </li>
  <li class="movie-attribute" style="display: none">
    <%= filter_more_search_options("descriptionTerm","Description") %>
  </li>

  <!-- attribute options for podcast -->
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("titleTerm","Title") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("languageTerm","Language") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("authorTerm","Author") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("artistTerm","Artist") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("keywordsTerm","Keywords") %>
  </li>
  <li class="podcast-attribute" style="display: none">
    <%= filter_more_search_options("descriptionTerm","Description") %>
  </li>

  <!-- attribute options for music videos -->
  <li class="music-video-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre") %>
  </li>
  <li class="music-video-attribute" style="display: none">
    <%= filter_more_search_options("artistTerm","Artist") %>
  </li>
  <li class="music-video-attribute" style="display: none">
    <%= filter_more_search_options("albumTerm","Album") %>
  </li>
  <li class="music-video-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating index") %>
  </li>
  <li class="music-video-attribute" style="display: none">
    <%= filter_more_search_options("songTerm","Song") %>
  </li>

  <!-- attribute options for audio book -->
  <li class="audiobook-attribute" style="display: none">
    <%= filter_more_search_options("titleTerm","Title") %>
  </li>
  <li class="audiobook-attribute" style="display: none">
    <%= filter_more_search_options("authorTerm","Author") %>
  </li>
  <li class="audiobook-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre") %>
  </li>
  <li class="audiobook-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating") %>
  </li>

  <!-- attribute options for apps -->
  <li class="apps-attribute" style="display: none">
    <%= filter_more_search_options("softwareDeveloper","Developer") %>
  </li>

  <!-- attribute options for tv show -->
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("genreIndex","Genre") %>
  </li>
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("tvEpisodeTerm","Episode") %>
  </li>
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("showTerm","Show") %>
  </li>
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("tvSeasonTerm","Season") %>
  </li>
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("ratingIndex","Rating") %>
  </li>
  <li class="tvshow-attribute" style="display: none">
    <%= filter_more_search_options("descriptionTerm","Description") %>
  </li>

</ul>